@import "tailwindcss";

.map-container {
    width: 100%;
    height: 100%;
}
.info-panel {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 20;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
.legend-color {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    border-radius: 2px;
}

.hamburger {
    cursor: pointer;
}

.hamburger svg {
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

#menu-toggle:checked ~ label svg {
    transform: rotate(-45deg);
}

#menu-toggle:checked ~ label svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}