    <!-- NAV -->
    <nav class="fixed bg-transparent top-0 left-0 right-0 z-50 bg-gradient-to-b px-6 flex items-center justify-between">
        <input id="menu-toggle" type="checkbox" class="peer hidden z-50">

        <label for="menu-toggle" class="hamburger z-50 relative w-10 h-10 bg-[#191A1E] rounded-full shadow-[1.5px_1.5px_3px_#0e0e0e,_-1.5px_-1.5px_3px_rgba(95,94,94,0.25)] cursor-pointer flex items-center justify-center">
          <svg viewBox="0 0 32 32" class="h-7 w-7 text-white">
            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22" stroke="#ffffff" fill="none" stroke-width="2" stroke-linecap="round"/>
            <path class="line" d="M7 16 27 16" stroke="#ffffff" fill="none" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </label>
        
        
        <label for="menu-toggle" class="fixed inset-0 bg-black opacity-50 z-40 hidden peer-checked:block"></label>

        <!-- Sidebar -->
        <div class="py-17 px-5 overflow-y-auto fixed top-0 left-0 h-full w-64 bg-[#070D18] shadow-lg z-40 -translate-x-full peer-checked:translate-x-0 transition-transform duration-300">
            <ul class="space-y-2 font-medium">
                <div class="flex flex-row justify-between border-b-white border-b-1 pb-4">
                    <li>
                        <a class="flex items-center p-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 dark:bg-blue-500 dark:hover:bg-blue-600 transition-colors group">
                          <svg class="shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                            <path stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
                          </svg>
                          <span class="flex-1 ms-3 whitespace-nowrap font-medium">Login</span>
                        </a>
                      </li>
                      
                      <li>
                        <a class="flex items-center p-2 text-white bg-green-600 rounded-lg hover:bg-green-700 dark:bg-green-500 dark:hover:bg-green-600 transition-colors group">
                          <svg class="shrink-0 w-5 h-5 text-white transition duration-75 group-hover:text-white" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 20 20">
                            <path d="M5 5V.13a2.96 2.96 0 0 0-1.293.749L.879 3.707A2.96 2.96 0 0 0 .13 5H5Z"/>
                            <path d="M6.737 11.061a2.961 2.961 0 0 1 .81-1.515l6.117-6.116A4.839 4.839 0 0 1 16 2.141V2a1.97 1.97 0 0 0-1.933-2H7v5a2 2 0 0 1-2 2H0v11a1.969 1.969 0 0 0 1.933 2h12.134A1.97 1.97 0 0 0 16 18v-3.093l-1.546 1.546c-.413.413-.94.695-1.513.81l-3.4.679a2.947 2.947 0 0 1-1.85-.227 2.96 2.96 0 0 1-1.635-3.257l.681-3.397Z"/>
                            <path d="M8.961 16a.93.93 0 0 0 .189-.019l3.4-.679a.961.961 0 0 0 .49-.263l6.118-6.117a2.884 2.884 0 0 0-4.079-4.078l-6.117 6.117a.96.96 0 0 0-.263.491l-.679 3.4A.961.961 0 0 0 8.961 16Zm7.477-9.8a.958.958 0 0 1 .68-.281.961.961 0 0 1 .682 1.644l-.315.315-1.36-1.36.313-.318Zm-5.911 5.911 4.236-4.236 1.359 1.359-4.236 4.237-1.7.339.341-1.699Z"/>
                          </svg>
                          <span class="flex-1 ms-3 whitespace-nowrap font-medium">Cadastrar</span>
                        </a>
                      </li>
                 </div>
               <li>
                  <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-house-icon lucide-house"><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"/><path d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/></svg>
                     <span class="ms-3 text-white">Home</span>
                  </a>
               </li>
               <li>
                  <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-clapperboard-icon lucide-clapperboard"><path d="M20.2 6 3 11l-.9-2.4c-.3-1.1.3-2.2 1.3-2.5l13.5-4c1.1-.3 2.2.3 2.5 1.3Z"/><path d="m6.2 5.3 3.1 3.9"/><path d="m12.4 3.4 3.1 4"/><path d="M3 11h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z"/></svg>
                     <span class="ms-3 text-white">Filmes</span>
                  </a>
               </li>
               <li>
                  <a class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-tv-icon lucide-tv"><rect width="20" height="15" x="2" y="7" rx="2" ry="2"/><polyline points="17 2 12 7 7 2"/></svg>
                     <span class="ms-3 text-white">Series</span>
                  </a>
               </li>
            </ul>
         </div>
        
         <!-- <div class="text-2xl font-bold"> -->
          <a class="z-50">
            <img src="/images/df_no_mapa.png" alt="Boxd Logo" class="h-30 w-auto" />
          </a>
        <!-- </div>         -->
        
        <div class="relative w-10 h-10 text-white group">
          <input
            type="text"
            id="search-input"
            name="text"
            required
            placeholder="Busque por filmes, séries ou pessoas..."
            class="peer absolute top-0 right-0 w-10 max-w-80 z-50 focus:w-80 h-10 pl-6 pr-4 rounded-full text-sm outline-none transition-all duration-300 ease-in-out bg-[#191A1E] shadow-[1.5px_1.5px_3px_#0e0e0e,_-1.5px_-1.5px_3px_rgba(95,94,94,0.25)] focus:shadow-[inset_1.5px_1.5px_3px_#0e0e0e,_inset_-1.5px_-1.5px_3px_#5f5e5e] cursor-pointer peer-valid:w-52 peer-focus:cursor-text peer-valid:cursor-text"
          />
          <label for="search-input" class="absolute left-0 top-0 w-10 h-10 p-2 z-50 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><circle cx="11" cy="11" r="8"/>
              <title>Search</title>
              <path d="m21 21-4.3-4.3"/>
            </svg>
          </label>
        
          <template id="search-result-template">
            <a class="flex items-center gap-3 p-3 hover:bg-zinc-800 transition-colors duration-200 rounded cursor-pointer">
              <img src="" alt="" class="w-12 h-16 object-cover rounded bg-zinc-800" />
              <div class="flex flex-col">
                <div class="flex flex-row gap-3">
                  <h3 class="text-sm font-medium line-clamp-1 title"></h3>
                  <h3 class="text-sm font-light line-clamp-1 text-gray-400 year"></h3>
                </div>
                <p class="text-xs text-zinc-400 type"></p>
              </div>
            </a>
          </template>

          <div id="search-results" class="absolute top-12 right-0 mt-2 max-h-[400px] w-80 overflow-y-auto z-40 bg-[#191A1E] shadow-lg rounded-lg text-white border border-zinc-700 transform scale-y-0 opacity-0 transition-all duration-300 origin-top pointer-events-none">
            <!-- Resultados -->
          </div>
        </div>
    </nav>