<!-- From Uiverse.io by 3bdel3ziz-T -->
<div class="flex flex-col justify-center items-center absolute z-40 top-80 left-5 transition-all duration-[450ms] ease-in-out w-16">
    <article class="border border-solid border-gray-700 w-full ease-in-out duration-500 left-0 rounded-2xl inline-block shadow-lg shadow-black/15 bg-white">
        <label for="dashboard" class="cursor-pointer has-[:checked]:shadow-lg relative w-full h-16 p-4 ease-in-out duration-300 border-solid border-black/10 has-[:checked]:border group flex flex-row gap-3 items-center justify-center text-black rounded-xl">
            <input class="hidden peer/expand" type="radio" name="path" id="dashboard"
            />
            <!-- 1. Camadas SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            class="peer-hover/expand:scale-125 peer-hover/expand:text-blue-400 peer-hover/expand:fill-blue-400 peer-checked/expand:text-blue-400 peer-checked/expand:fill-blue-400 text-2xl peer-checked/expand:scale-125 ease-in-out duration-300">
                <path d="M12.83 2.18a2 2 0 0 0-1.66 0L2.6 6.08a1 1 0 0 0 0 1.83l8.58 3.91a2 2 0 0 0 1.66 0l8.58-3.9a1 1 0 0 0 0-1.83z"/>
                <path d="M2 12a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 12"/>
                <path d="M2 17a1 1 0 0 0 .58.91l8.6 3.91a2 2 0 0 0 1.65 0l8.58-3.9A1 1 0 0 0 22 17"/>
            </svg>
        </label>
        <label for="map-layers-toggle" class="cursor-pointer has-[:checked]:shadow-lg relative w-full h-16 p-4 ease-in-out duration-300 border-solid border-black/10 has-[:checked]:border group flex flex-row gap-3 items-center justify-center text-black rounded-xl">
            <input class="hidden peer/expand" type="radio" name="path" id="map-layers-toggle"
            />
            <!-- 2. Layers SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            class="peer-hover/expand:scale-125 peer-hover/expand:text-blue-400 peer-hover/expand:fill-blue-400 peer-checked/expand:text-blue-400 peer-checked/expand:fill-blue-400 text-2xl peer-checked/expand:scale-125 ease-in-out duration-300">
                <path d="M14.106 5.553a2 2 0 0 0 1.788 0l3.659-1.83A1 1 0 0 1 21 4.619v12.764a1 1 0 0 1-.553.894l-4.553 2.277a2 2 0 0 1-1.788 0l-4.212-2.106a2 2 0 0 0-1.788 0l-3.659 1.83A1 1 0 0 1 3 19.381V6.618a1 1 0 0 1 .553-.894l4.553-2.277a2 2 0 0 1 1.788 0z"/>
                <path d="M15 5.764v15" />
                <path d="M9 3.236v15" />
            </svg>
        </label>

        <label class="has-[:checked]:shadow-lg relative w-full h-16 p-4 ease-in-out duration-300 border-solid border-black/10 has-[:checked]:border group flex flex-row gap-3 items-center justify-center text-black rounded-xl">
            <!-- Separator Line SVG -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            class="peer-hover/expand:scale-125 peer-hover/expand:text-blue-400 peer-hover/expand:fill-blue-400 peer-checked/expand:text-blue-400 peer-checked/expand:fill-blue-400 text-2xl peer-checked/expand:scale-125 ease-in-out duration-300">
                <line x1="0" y1="12" x2="24" y2="12" stroke="currentColor" stroke-width="2"></line>
            </svg>
        </label>

        <label for="zoomIn" class="cursor-pointer has-[:checked]:shadow-lg relative w-full h-16 p-4 ease-in-out duration-300 border-solid border-black/10 has-[:checked]:border group flex flex-row gap-3 items-center justify-center text-black rounded-xl">
            <input class="hidden peer/expand" type="radio" name="path" id="zoomIn"/>
            <!-- 3. ZoomIn SVG -->
            <svg class="peer-hover/expand:scale-125 peer-hover/expand:text-blue-400 peer-hover/expand:fill-blue-400 peer-checked/expand:text-blue-400 peer-checked/expand:fill-blue-400 text-2xl peer-checked/expand:scale-125 ease-in-out duration-300"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle cx="11" cy="11" r="8" fill="none" stroke="currentColor" stroke-width="2"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65" stroke="currentColor" stroke-width="2"></line>
                <line x1="11" y1="8" x2="11" y2="14" stroke="currentColor" stroke-width="2"></line>
                <line x1="8" y1="11" x2="14" y2="11" stroke="currentColor" stroke-width="2"></line>
            </svg>
        </label>
        <label for="zoomOut" class="cursor-pointer has-[:checked]:shadow-lg relative w-full h-16 p-4 ease-in-out duration-300 border-solid border-black/10 has-[:checked]:border group flex flex-row gap-3 items-center justify-center text-black rounded-xl">
            <input class="hidden peer/expand" type="radio" name="path" id="zoomOut" />
            <!-- 4. ZoomOut SVG -->
            <svg class="peer-hover/expand:scale-125 peer-hover/expand:text-blue-400 peer-hover/expand:fill-blue-400 peer-checked/expand:text-blue-400 peer-checked/expand:fill-blue-400 text-2xl peer-checked/expand:scale-125 ease-in-out duration-300"
            xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <circle cx="11" cy="11" r="8" fill="none" stroke="currentColor" stroke-width="2"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65" stroke="currentColor" stroke-width="2"></line>
                <line x1="8" y1="11" x2="14" y2="11" stroke="currentColor" stroke-width="2"></line>
            </svg>
        </label>
    </article>
    <!-- Dropdown menu (inicialmente escondido) -->
    <div id="map-layers-dropdown" class="absolute left-16 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden">
        <div class="py-1" role="menu" aria-orientation="vertical">
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="osm-standard">
                <span class="w-3 h-3 bg-blue-500 rounded-full mr-2">
                </span>
                OpenStreetMap Padrão
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="osm-humanitarian">
                <span class="w-3 h-3 bg-red-500 rounded-full mr-2">
                </span>
                OSM Humanitário
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="carto-voyager">
                <span class="w-3 h-3 bg-green-500 rounded-full mr-2">
                </span>
                Carto Voyager
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="stamen-terrain">
                <span class="w-3 h-3 bg-yellow-500 rounded-full mr-2">
                </span>
                Stamen Terrain
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="esri-satellite">
                <span class="w-3 h-3 bg-gray-500 rounded-full mr-2">
                </span>
                ESRI Satélite
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="dark-matter">
                <span class="w-3 h-3 bg-black rounded-full mr-2">
                </span>
                Dark Matter
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="TESTE">
                <span class="w-3 h-3 bg-purple-700 rounded-full mr-2">
                </span>
                NDVI
            </button>
            <button class="cursor-pointer map-layer-option flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 w-full text-left"
            data-layer="CALOR">
                <span class="w-3 h-3 bg-red-700 rounded-full mr-2">
                </span>
                Mapa de Calor
            </button>
        </div>
    </div>

</div>